#default server port
server:
   port: 8888

spring:
   application:
      name: config-server
   cloud:
      config:
         server:
            git:
               #configs can either be sourced directly from remote git repository
               #uri: https://github.com/rohithkk/spring-cloud-sample   
               #searchPaths: config               
               uri: file:///Users/rohith/workspace/codespace/spring-cloud-sample
               searchPaths: config